/* Application wide styles */


@font-face {
    font-family: "Mouse Memoirs";
    src: url("../fonts/MouseMemoirs-Regular.ttf");
}

.questionLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-background-color: none;
}

.button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.split-pane {
    -fx-background-color: #F0F0F0;
}

.text-p{
    -fx-font-family: "Poppins Light";
    -fx-font-size: 24px;
    -fx-font-weight: 100;
}

.text-field{
    -fx-border-color: #3C3957;
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-max-width: 490px;
    -fx-background-color: none;
}

.textOutput {
    -fx-font-family: "Poppins Light";
    -fx-font-size: 32px;
    -fx-font-weight: 100;
}

.btn-small{
    -fx-border-color: #3C3957;
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins";
}

.btn-small:hover{
    -fx-border-color: #2e2c42;
    -fx-background-color: #2e2c42;
    -fx-border-width: 3;
    -fx-background-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins"; }

.btn-small .text {
    -fx-fill:#3C3957;
}
.btn-small:hover .text {
    -fx-fill: #fff;
}

.nextButton {
    -fx-font-family: "Mouse Memoirs-Regular";
}

.btn-play{
    -fx-border-color: #3C3957;
    -fx-border-width: 7;
    -fx-font-size: 100;
    -fx-border-radius: 40px;
    -fx-text-alignment: LEFT;
    -fx-font-family: "Mouse Memoirs";

}

.btn-close{
    -fx-background-image: url("../images/close.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
}

.progress-bar {
    -fx-accent: #e2234c;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}

.mouseFont {
    -fx-font-family: "Mouse Memoirs";
    -fx-text-fill: #D97791;
    -fx-font-size: 120;
}

.mouseFontPercentage {
    -fx-font-family: "Mouse Memoirs";
    -fx-border-style: none;
    -fx-font-color: #3C3957;
}

.radio-button {
    /* default properties */
    -fx-border-color: #3C3957;
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins";
    -fx-padding: 4px;
}

.radio-button:selected > .radio {
    /* background color for selected checkbox */
    -fx-border-color: #d92949;
    /*-fx-background-radius: #d92949;*/
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins";
    -fx-spacing: 10;
}

.radio-button > .radio {
    /* background color of unselected checkbox */
    -fx-border-color: #3C3957;
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins";
}

.radio-button:selected > .radio > .mark,
.radio-button:indeterminate  > .radio > .mark {
    /* modify mark color */
    -fx-border-color: #d92949;
    -fx-border-width: 3;
    -fx-border-radius: 40px;
    -fx-font-size: 24px;
    -fx-font-family: "Poppins";
}


.classicModusSubMenuHeader {
    -fx-font-color: #3C3957;
    -fx-font-family: "Mouse Memoirs";
}


.userNameLabel {

    -fx-font-family: "Poppins";

}

.courseResult {
    -fx-font-family: "Poppins";
}

.creativeText {
    -fx-font-family: "Poppins";
}

.progress-indicator {
    -fx-background-color: transparent;
    -fx-padding: 0 0 -16 0;
    -fx-progress-color: #d92949;
    -fx-fill: transparent;

}

.progress-indicator .percentage {
    -fx-fill:null;
}